.top-container {
  background-color: #fefecc;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 8em;
  color: #02475e;
}

h2 {
  font-family: 'Montez', cursive;
  font-size: 2.5rem;
  color: #02475e;
  font-weight: normal;
}

h3 {
  font-family: 'Montez', cursive;
  color: #687980;
}

a {
  color: #687980;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.middle-container {
  background-color: #fefecc;
}

.bottom-container {
  background-color: #f3bda1;

}

.topcloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.profilepic{
  height: 300px;
  margin-top: 100px;
}
.skill1{
  width: 25%;
  float: left;
  margin-right: 20px;
}
.skill2{
  width: 25%;
  float: right;
  margin-left: 20px;
}
.footer-link{
  margin:30px;
  padding-top: 20px;
}
.footertm{
  color: white;
}
a{
  text-decoration: none;
}
.BUTTON_BAI {
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Brush Script MT;
   width: 131px;
   font-size: 23px;
   font-weight: 100;
   padding: 16px;
   background-color: #F3BDA1;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 20px;
}

.BUTTON_BAI:hover {
   border: solid #337FED 1px;
   background: #F4EEE8;
   background-image: -webkit-linear-gradient(top, #F4EEE8, #F4EEE8);
   background-image: -moz-linear-gradient(top, #F4EEE8, #F4EEE8);
   background-image: -ms-linear-gradient(top, #F4EEE8, #F4EEE8);
   background-image: -o-linear-gradient(top, #F4EEE8, #F4EEE8);
   background-image: -webkit-gradient(to bottom, #F4EEE8, #F4EEE8);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
